div {
  min-height: 50vh;
  padding: 0px;
  margin: 0%;
  color: darkgray;
  font-family: "PT Sans Narrow", sans-serif;
}

.title {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/big.jpg) center/cover no-repeat fixed;
  text-align: center;
  font-size: 50px;
}

.bartending {
  color: rgb(249, 197, 133);
  min-height: 50vh;
  font-size: 50px;
  text-align: center;

  background: linear-gradient(rgba(50, 0, 50, 0), rgba(50, 0, 50, 0.5)),
    url(./images/bartending.jpeg) center/cover no-repeat;
}

.cooking {
  color: rgb(249, 197, 133);
  min-height: 50vh;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(rgba(50, 0, 50, 0), rgba(50, 0, 50, 0.5)),
    url(./images/cooking.jpeg) center/cover no-repeat;
}

.custom {
  color: rgb(249, 197, 133);
  min-height: 50vh;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(rgba(50, 0, 50, 0), rgba(50, 0, 50, 0.5)),
    url(./images/keyboard.jpeg) center/cover no-repeat;
}

.gaming {
  color: rgb(249, 197, 133);
  min-height: 50vh;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(rgba(50, 0, 50, 0), rgba(50, 0, 50, 0.5)),
    url(./images/gaming.jpeg) center/cover no-repeat;
}

.sports {
  color: rgb(249, 197, 133);
  min-height: 50vh;
  font-size: 50px;
  text-align: center;
  background: linear-gradient(rgba(50, 0, 50, 0), rgba(50, 0, 50, 0.5)),
    url(./images/sports.jpeg) center/cover no-repeat;
}

/* .bartending:hover {
  min-height: 50vh;
}



.cooking:hover {
  min-height: 50vh;
}



.custom:hover {
  min-height: 50vh;
}


.gaming:hover {
  min-height: 50vh;
}



.sports:hover {
  min-height: 50vh;
} */

.links {
  font-size: 50px;
  padding: 100px;
  text-align: center;
  background: linear-gradient(rgba(50, 0, 50, 0), rgba(50, 0, 50, 1)),
    url(./images/big.jpg) center/cover no-repeat fixed;
}

li {
  list-style-type: none;
  text-align: justify;
  padding: 10px;
}

a {
  color: darkgray;
}
