body {
  padding: 15px;
  margin: 30px;
  border: 2px;
  border-style: ridge;
  border-color: midnightblue;
  line-height: 30px;
  font-family: "PT Sans Narrow", sans-serif;
}

ul.a {
  list-style-type: square;
}

#html {
  text-decoration: line-through;
}

#css {
  text-decoration: line-through;
}

img {
  width: 25%;
  max-width: 1363px;
}

th {
  text-decoration: underline;
  text-align: left;
}
